Java.gitignore
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.gradle/4.1/fileContent/fileContent.lock
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/fileHashes/resourceHashesCache.bin
.gradle/4.1/javaCompile/javaCompile.lock
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/taskHistory.lock
.idea/gradle.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_0_0.xml
.idea/libraries/Gradle__com_amulyakhare_com_amulyakhare_textdrawable_1_0_1.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_26_1_0.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_26_1_0.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_1.xml
.idea/libraries/Gradle__com_android_support_design_26_1_0.xml
.idea/libraries/Gradle__com_android_support_recyclerview_v7_26_1_0.xml
.idea/libraries/Gradle__com_android_support_support_compat_26_1_0.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_26_1_0.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_26_1_0.xml
.idea/libraries/Gradle__com_android_support_support_fragment_26_1_0.xml
.idea/libraries/Gradle__com_android_support_support_media_compat_26_1_0.xml
.idea/libraries/Gradle__com_android_support_support_v4_26_1_0.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_26_1_0.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_3_0_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_3_0_2.xml
.idea/libraries/Gradle__com_android_support_test_monitor_1_0_2.xml
.idea/libraries/Gradle__com_android_support_test_runner_1_0_2.xml
.idea/libraries/Gradle__com_android_support_transition_26_1_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_2_41_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_2_41_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
app/app.iml
build.gradle
build/kotlin-build/artifact-difference.tab
build/kotlin-build/artifact-difference.tab.keystream
build/kotlin-build/artifact-difference.tab.keystream.len
build/kotlin-build/artifact-difference.tab.len
build/kotlin-build/artifact-difference.tab.values
build/kotlin-build/artifact-difference.tab.values.at
build/kotlin-build/artifact-difference.tab.values.s
build/kotlin-build/artifact-difference.tab_i
Kotlin-Contact.iml
